.content {
    /*position: relative;*/
    height: 80rem;
    background-color: #666;
    border-radius: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 690rem;
    bottom: 40rem;
}
.catIcon {
    position: absolute;
    font-size: 60rem;
    bottom: 0;
    left: 0;
}
.redNum {
    position: absolute;
    background-color: #f56c6c;
    border-radius: 20rem;
    color: #fff;
    display: inline-block;
    font-size: 20rem;
    height: 30rem;
    line-height: 30rem;
    padding:0 10rem;
    text-align: center;
    white-space: nowrap;
    left: 40rem;
}
.amount {
    padding-left: 80rem;
    font-size: 30rem;
    color: aliceblue;
}
.settlement,.amount {
    display: flex;
    justify-content:center;
    align-items: center;
}
.settlement {
    height: 80rem;
    background-color: #ee0a24;
    border-radius: 40rem;
    color: #ffffff;
    width: 200rem;
    font-size: 34rem;
}
